.home-section {
  background-image: url('/thailand.jpg');
  background-size: cover;
}

.lockup {
  width: 100%;
  max-width: 500px;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing);
  margin: 0 auto;
}

.lockup p {
  color: var(--brand-white);
}

.maintitle {
  text-transform: uppercase;
  margin: 0;
  font-size: 72px;
}

.subtitle {
  font-size: 37.5px;
  text-transform: uppercase;
  margin: -20px 0 var(--spacing);
}

.intro {
  font-size: 16px;
  margin: var(--spacing) 0;
}

.blue {
  color: var(--brand-blue);
}

.link-wrapper {
  display: flex;
  gap: var(--spacing);
}

@media (max-width: 501px) {
  .home-section {
    background-color: black; 
    background-repeat: no-repeat;
  }

  .lockup {
    max-width: 480px;
    margin: var(--spacing);
  }

  .maintitle {
    font-size: 48px;
  }
  
  .subtitle {
    font-size: 25px;
    margin-top: -12px;
  }

  .intro {
    text-align: center;
  }

  .link-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .link-wrapper a {
    width: 100%;
    max-width: 250px;
  }
}