:root {
    --logo-font-size: 60px;
    --logo-font-size-lg: 72px;
}


.logolockup {
    padding: 14px var(--spacing) var(--spacing);
    background: rgba(0,0,0,0.8);
    max-width: 500px;
    height: fit-content;
    color: var(--brand-white);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.bebas {
    font-family: 'bebas-neue', Arial, Helvetica, sans-serif;
    font-size: var(--logo-font-size);
    letter-spacing: .04em;
}

.lg {
    font-size: var(--logo-font-size-lg);
}

.colorswap {
    color: var(--brand-blue);
}

.title {
    text-transform: uppercase;
    font-size: 33px;
    margin-top: -19px;
}

.buttons {
    display: flex;
    width: 100%;
    margin-top: var(--spacing-sm);
    gap: var(--spacing);
    justify-content: space-between;

    > a {
        width: 50%;
    }
}